046d:c52b Logitech Unifying Reciever
0bda:8153 Realtek RTL8153 Gigabit Ethernet Adapter
0bda:8771 Realtek Semiconductor Corp. Bluetooth Radio
1e7d:2cb6 ROCCAT ROCCAT Kone XP Air Dongle
2dc8:3109 8BitDo IDLE
2dc8:3106 8BitDo 8BitDo Ultimate wireless Controller for PC
